@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.trans {
  transition: 0.5s;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drop {
  backdrop-filter: blur(5px);
}

.typing {
  animation: typing 3s steps(18, end) infinite;
}
.blinking {
  animation: blinking 0.7s infinite ease-in-out;
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  50%,
  90% {
    width: 19.5ch;
  }
  100% {
    width: 0ch;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
